{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel= "stylesheet" href = "{% static 'css/stylesheet.css' %}" type = "text/css">
</head>
<body>
    {% include "head.html" %}
    <div>
        <h2>Возможно вы хотите узнать больше о нас?</h2>
        <hr>
    </div>
    <div>
        <h2>Адрес:город Москва,улица Пушкина д 92.<br>
            Полное название:Общество с ограниченной ответственностью<br>
            Наш директор:
        </h2>
    </div>

    <div class="director">

                <img src="{% static 'img/Фото директора.jpg' %}" width="200px">
    </div>
</body>
</html>